// Font Family
$ff-primary: 'Poppins',
sans-serif;

// Font Size
$fs-xsmall: 0.7rem;
$fs-small: 0.9rem;
$fs-base: 1rem;
$fs-medium: 1.5rem;
$fs-large: 2rem;
$fs-xlarge: 4rem;

// Font Weight
$fw-xlight: 300;
$fw-light: 400;
$fw-xmedium: 500;
$fw-medium: 600;
$fw-bold: 700;
$fw-bolder: 900;