@use "../abstracts/fonts"as *;
@use "../abstracts/background-gradient"as *;
@use "../abstracts/colors"as *;

// Header Mixin
@mixin header {
  font-size: $fs-xxlarge;
  background: $bg-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}

// Subheader Mixin
@mixin subheader {
  line-height: 1.15;
}

// Card Mixin
@mixin card {
  background-color: $primary-clr-4;
  width: 31rem;
  border-radius: 1rem;
  padding: 3rem;
  background-image: url("../../../assets/images/union.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Card Content
@mixin card-content {
  background-color: $secondary-clr;
  border-radius: 1rem;
  width: 20rem;
  display: flex;
}